.nav {
    overflow: hidden;
    /* background-color: #fed766; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
    border-bottom: 1px solid black;
}

.nav-link {
    float: left;
    color: black;
    /* background-color: #FED766; */
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
    /* these last two make the logout button in
  the nav bar look like another link */
    border: none;
    cursor: pointer;
    outline: 0;
}

.nav-link:hover {
    text-decoration: underline;
}

.left-nav {
    
}

.right-nav {

}

.navTitle {

}
